// Değişken tanımları
$px-media-xsm: 320px;
$px-media-sm: 576px;
$px-media-md: 768px;
$px-media-lg: 992px;

// Media Responsive
@mixin up-xsm {
	@media (min-width: #{strip-unit($px-media-xsm) + 1}px) {
		@content;
	}
}

@mixin down-xsm {
	@media (max-width: $px-media-xsm) {
		@content;
	}
}

@mixin up-sm {
	@media (min-width: #{strip-unit($px-media-sm) + 1}px) {
		@content;
	}
}

@mixin down-sm {
	@media (max-width: $px-media-sm) {
		@content;
	}
}

@mixin up-md {
	@media (min-width: #{strip-unit($px-media-md) + 1}px) {
		@content;
	}
}

@mixin down-md {
	@media (max-width: $px-media-md) {
		@content;
	}
}

@mixin up-lg {
	@media (min-width: #{strip-unit($px-media-lg) + 1}px) {
		@content;
	}
}

@mixin down-lg {
	@media (max-width: $px-media-lg) {
		@content;
	}
}